.btngroup3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containr {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.h {
  text-align: center;
  font-size: 50px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Gölge ile daha belirgin */
}
.h2 {
  text-align: center;
  color: #ffffff;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.5); /* Yarı saydam koyu arka plan */
  padding: 5px 10px;
  border-radius: 15px; /* Köşeleri yumuşatmak için */
  width: 80%;
}
@media (max-width: 1024px) {
  .h2 {
    margin: auto;
    font-size: 23px;
  }
  .btngroup3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

    margin-top: 20px;
  }
  .p {
    margin: 9px auto;
    color: #ffffff;
  }
  .containr {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  body {
    background: linear-gradient(135deg, rgb(199, 143, 15), rgb(198, 176, 120));
  }

  .containr {
    background: linear-gradient(135deg, rgb(199, 143, 15), rgb(198, 176, 120));
  }
  .h {
    font-size: 45px;
  }
  .btn {
    font-size: 28px;
  }
}

@media (max-width: 780px) {
  .btngroup3 {
    font-size: 20px;
    width: 80%;
    margin-top: 20px;
  }
  .h {
    font-size: 35px;
  }
  .h2 {
    width: 80%;
    margin: auto;
    font-size: 22px;
  }
  body {
    background: linear-gradient(135deg, rgb(199, 143, 15), rgb(198, 176, 120));
  }
  .btn {
    font-size: 25px;
  }
}

@media (max-width: 480px) {
  .btn {
    font-size: 22px;
  }
  .h {
    font-size: 32px;
  }
  .h2 {
    font-size: 20px;
  }
  .p {
    font-size: 20px;
  }
}
