.btngroup3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containr {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.h11 {
  text-align: center;
  font-size: 41px;
  color: #f5f5e7;
  margin-bottom: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Gölge ile daha belirgin */
}
.h2 {
  text-align: center;
  color: #ffffff;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.5); /* Yarı saydam koyu arka plan */
  padding: 5px 10px;
  border-radius: 15px; /* Köşeleri yumuşatmak için */
  width: 80%;
}
.educations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.2;
}
.p {
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}
@media (max-width: 1024px) {
  .h2 {
    margin: auto;
    font-size: 23px;
    color: #f5f5e7;
  }
  .btngroup3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

    margin-top: 20px;
  }
  .p {
    margin: 9px auto;
    color: #e2e2c6;
  }

  .containr {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  body {
    background: linear-gradient(135deg, rgb(199, 143, 15), rgb(198, 176, 120));
  }

  .containr {
    background: linear-gradient(135deg, rgb(199, 143, 15), rgb(198, 176, 120));
  }
  .h11 {
    color: #e2e2c6;
    text-align: center;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .btn {
    font-size: 28px;
  }
}

@media (max-width: 780px) {
  .btngroup3 {
    font-size: 20px;
    width: 80%;
    margin-top: 20px;
  }
  .h11 {
    font-size: 39px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #e2e2c6;
  }
  .h2 {
    width: 80%;
    margin: auto;
    font-size: 22px;
    color: #f0f0e0;
  }
  body {
    background: linear-gradient(135deg, rgb(199, 143, 15), rgb(198, 176, 120));
  }
  .btn {
    font-size: 25px;
  }
  .p {
    color: #e2e2c6;
  }
}

@media (max-width: 480px) {
  .btn {
    font-size: 22px;
  }
  .h11 {
    font-size: 33px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #e2e2c6;
  }
  .h2 {
    font-size: 20px;
    color: #edede1;
  }
  .p {
    font-size: 20px;
    color: #ebebdb;
  }
}
