.cv-image {
  width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: 60%;
  margin-left: 120px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hafif gölge */
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 400px;
}

body {
  background: linear-gradient(135deg, rgb(132, 110, 58), rgb(179, 150, 80));
  font-family: "Roboto", sans-serif;
}

.btngroup {
  display: flex;
  flex-direction: column;
  margin-top: 0; /* margin-top kaldırıldı */
  justify-content: center; /* Dikey eksende ortala */
  align-items: center; /* Yatay eksende ortala */
  /* Sayfanın tamamını kapla */
  position: relative;
  top: -80px;
}
.btn {
  border-radius: 50%;
  font-size: 30px;
  font-weight: bold;
  background-color: rgb(151, 143, 101); /* Altın sarısı bir buton */
  color: white;
  width: 700px;
  height: 50px;
  margin-bottom: 20px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hafif gölge */
  transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease; /* Yumuşak geçiş efekti */
}
.btn:hover {
  background-color: white; /* Arka plan rengini beyaz yap */
  color: rgb(151, 143, 101); /* Yazı rengini altın sarısı yap */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Hover sırasında gölgeyi büyüt */
}
.h1 {
  text-align: center;
  font-size: 50px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Gölge ile daha belirgin */
  margin-right: 300px;
}
.bigdiv {
  background: linear-gradient(
    135deg,
    rgb(120, 59, 30) 0%,
    rgb(42, 144, 110) 100%
  );
}

@media (max-width: 1024px) {
  body {
    background: linear-gradient(135deg, rgb(199, 143, 15), rgb(198, 176, 120));
  }
  .container {
    flex-direction: column;
    gap: 20px; /* Gap küçültüldü */
  }

  .bigdiv {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(135deg, rgb(199, 143, 15), rgb(198, 176, 120));

    padding: 20px;
  }

  .cv-image {
    width: 300px; /* Mobilde daha küçük genişlik */
    height: auto;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hafif gölge */
  }

  .h1 {
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 10px 0px; /* Alt kenarda 20px boşluk */
  }

  .btngroup {
    display: flex;
    width: 80%;
    margin-top: 100px; /* Buton grubunun üstünde 20px boşluk */
  }

  .btn {
    font-size: 25px; /* Daha küçük font boyutu */
    padding: 10px 15px; /* Padding'i mobil için ayarla */
  }
}

@media (max-width: 750px) {
  .container {
    flex-direction: column;
    gap: 20px; /* Gap küçültüldü */
  }

  .bigdiv {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(135deg, rgb(199, 143, 15), rgb(198, 176, 120));

    padding: 20px;
  }

  .cv-image {
    width: 300px; /* Mobilde daha küçük genişlik */
    height: auto;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hafif gölge */
  }

  .h1 {
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 10px 0px; /* Alt kenarda 20px boşluk */
  }

  .btngroup {
    display: flex;
    width: 80%;
    margin-top: 100px; /* Buton grubunun üstünde 20px boşluk */
  }

  .btn {
    font-size: 25px; /* Daha küçük font boyutu */
    padding: 10px 15px; /* Padding'i mobil için ayarla */
    width: 100%; /* Kenarlarda boşluk bırak */
  }
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  .cv-image {
    width: 200px; /* Daha küçük genişlik */
    box-shadow: none; /* Gölgeyi kaldır */
  }

  .h1 {
    font-size: 23px;
    margin: 0;
  }

  .btn {
    font-size: 20px;
    padding: 8px 12px; /* Küçük padding */
    width: 100%; /* Tam genişlik */
  }
}
