.p {
  font-size: 30px;
  font-weight: bold;
  max-width: 1000px;
  color: antiquewhite;
  text-align: center;
  font-style: oblique;
  margin-top: 20px;
  line-height: 1.6;
}
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    135deg,
    rgb(120, 59, 30) 0%,
    rgb(42, 144, 110) 100%
  );
}

.btngroup1 {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 0; /* margin-top kaldırıldı */
  justify-content: center; /* Dikey eksende ortala */
  align-items: center; /* Yatay eksende ortala */
  /* Sayfanın tamamını kapla */
}
.container1 {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .p {
    font-size: 26px;
    width: 80%;
  }

  .container1 {
    background: linear-gradient(135deg, rgb(199, 143, 15), rgb(198, 176, 120));
    height: 100%;
  }
}

@media (max-width: 780px) {
  .btngroup1 {
    width: 80%;
    margin-bottom: 20px;
  }
  .btn {
    font-size: 30px;
  }
  .p {
    font-size: 22px;
    width: 85%;
    color: #ffffff;
  }
  .container1 {
    background: linear-gradient(135deg, rgb(199, 143, 15), rgb(198, 176, 120));
    height: 100%;
  }
}
@media (max-width: 480px) {
  .btngroup1 {
    width: 80%;
    font-size: 35px;
  }

  .p {
    font-size: 21px;
    width: 85%;
    color: #ffffff;
    margin-bottom: 0;
    object-fit: cover;
  }
}
